<%- include header %>

<div class="container" ng-app="myApp">
  <div class="page-header">
    <a href=".">
      <h1><i class="fa fa-ticket "></i> 基于 Bitcoin Blockchain 的抽奖系统</h1>
    </a>
  </div>
  <div class="col-md-6" id="drawTime">
    <form action="/createTask" method="post" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="drawTimeInput" class="col-sm-3 control-label">开奖时机</label>
        <div class="col-sm-9">
          <input required="required" type="text" class="form-control unfocus" id="drawTimeInput" name="drawTimeInput" data-toggle="modal" data-target="#drawTimeToggle" readonly="readonly" value="5201314"/>
          <span class="help-block">开奖时间或者区块选择</span>
        </div>
      </div>
        
      <%- include prizeInfos %>
      <div class="form-group">
        <label for="mantotal" class="col-sm-3 control-label">总人数</label>
        <div class="col-sm-9">
          <input required="required" type="number" min="1" class="form-control unfocus" id="mantotal" name="mantotal" placeholder="100" value="100">
          <span class="help-block">总人数</span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-create">创建抽奖任务</button>
        </div>
      </div>
    </form>            
    <% if (success) { %>
       <%= success %>
    <% } %>
    <% if (error) { %>
       <%= error %>
    <% } %>
  </div>
  <%- include drawTimeInput %>
</div>


<script src="javascripts/angularCommon.js"></script>
<script>
$(function(){
    $('#drawTimeSubmit').click(function () {
        var drawTimeInput = document.getElementById("drawTimeInput");
        if ($('#time').hasClass("active")) {
            // 取时间
            var drawTime = document.getElementById("datetimepicker").value;
            if (drawTime == "") {
                alert("请选择开奖时间!");    
            }
            else {
                drawTimeInput.value = drawTime;
                $('#drawTimeToggle').modal('hide');
            }
        } else {
            var drawBlock = document.getElementById("blockpicker").value;
            if (drawBlock == "" || drawBlock <= 0) {
                alert("请输入合法的开奖区块!");    
            }
            else {
                drawTimeInput.value = drawBlock;
                $('#drawTimeToggle').modal('hide');
            }
        }
    });
});

$('#datetimepicker').datetimepicker({
    format: 'yyyy-mm-dd hh:ii',      /*此属性是显示顺序，还有显示顺序是mm-dd-yyyy*/
    startDate: new Date()
});
</script>

<%- include footer %>
