<%- include header %>

<div class="container" ng-app="myApp">

  <div class="page-header">
    <a href=".">
      <h1><i class="fa fa-ticket "></i> 基于 Bitcoin Blockchain 的抽奖系统</h1>
    </a>
  </div>

  <div id="raffle">
    <% if (error) { %>
    <div id="error-box" class="alert alert-danger">
      <h5> <%= error %> </h5>
      <p></p>
    </div>
    <% } %>

    <% if (result) { %>
    <div id="winner" class="alert alert-success">
      <div class="winner-found">
        <h2>抽奖结果: <br> </h2>
        <span class="winning-tx"> <%- result %> </span>
      </div>
    </div>
    <% } %>

  </div>

  <div id="fill-parameters" class="row">

    <div class="col-md-6">
      <form action="/verifyHistoryTask" method="post" class="form-horizontal" role="form">
        <div class="form-group">
          <label for="block" class="col-sm-3 control-label">目标区块</label>
          <div class="col-sm-9">
            <input required="required" type="number" min="0" class="form-control" id="block" name="block" placeholder=" 449388">
            <span class="help-block">当出现该Block后计算中奖者</span>
          </div>
        </div>
        <%- include prizeInfos %>
        <div class="form-group">
          <label for="mantotal" class="col-sm-3 control-label">总人数</label>
          <div class="col-sm-9">
            <input required="required" type="number" min="1" class="form-control unfocus" id="mantotal" name="mantotal" placeholder="100" value="100">
            <span class="help-block">总人数</span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-create">开始抽奖</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="javascripts/angularCommon.js"></script>

<%- include footer %>
